.list-group-item img {
	width: 36px;
	height: 36px;
	margin-right: 1em;
}

.list-group-item i {
	color: white;
}

.panel-title a img {
	width: 36px;
	height: 36px;
	margin-right: 1em;
}
body {
	margin-top: 1em;
}